body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

img {
    max-height: 50vh;
}

header {
    border-bottom: 2px solid currentColor;

    &>.logo {
        text-transform: uppercase;
        font-weight: 600;
    }
}



footer {
    border-top: 2px solid currentColor;
}

header, footer, body {
    padding: 1rem;
}