body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

img {
    max-height: 50vh;
}

header {
    color: darkcyan;

    border-bottom: 2px solid currentColor;

    &>a.logo {
        text-transform: uppercase;
        font-weight: 600;
        color: currentColor;
    }
}



footer {
    border-top: 2px solid currentColor;
}

header, footer, main {
    padding: 1rem;
}

header, footer {
    background-color: lightgreen;
}